@model SkillTreeMVCHomework.Models.ViewModel.Spending

@{
    ViewBag.Title = "記帳本";
}


@using (Ajax.BeginForm(new AjaxOptions
{
    UpdateTargetId = "spendingListDiv",
    Url = Url.Action("AjaxUpdate", "TallyBook")
}))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("page", ViewData["currentPage"])
    <div class="form-horizontal well">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @*@Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.Category, (IEnumerable<SelectListItem>)ViewData["CategorySelectList"], "請選擇", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Money, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Money, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Money, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-8 col-sm-4">
                <button type="submit" class="btn btn-danger"><i class="fa fa-send"></i> 送出</button>
            </div>
        </div>
    </div>
}

<div id="spendingListDiv">
    @Html.Action("SpendingList")
</div>


@section Scripts {   
    <script>
        $(function ()
        {
            $("#Date").datepicker({ dateFormat: 'yy/mm/dd' });
        });
    </script>
}
