@using PagedList;
@using PagedList.Mvc
@using SkillTreeMVCHomework.Enum
@model IPagedList<SkillTreeMVCHomework.Models.ViewModel.Spending>

@{
    Layout = null;
    var count = ((ViewData["currentPage"] != null ? (int)ViewData["currentPage"] - 1 : 0)*10)+1;
}

@if (Model != null)
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Money)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@(count++)</td>
                    <td>@CategoryMapping(item.Category)</td>
                    <td>@item.Date.ToString("yyyy-MM-dd")</td>
                    <td>@item.Money</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
                PagedListRenderOptions.ClassicPlusFirstAndLast)
}

@helper CategoryMapping(string categoryValue)
{
if (categoryValue == ((int)CatrgoryEnum.支出).ToString())
{
        <span style="color:red">支出</span>
}
else if (categoryValue == ((int)CatrgoryEnum.收入).ToString())
{
        <span style="color:blue">收入</span>
}

}