@using PagedList;
@using PagedList.Mvc
@model IPagedList<SkillTreeMVCHomework.Models.ViewModel.Spending>

@{
    Layout = null;
    var count = 1;
}

@if (Model != null)
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Category)
                </th>
                <th>
    @Html.DisplayNameFor(model => model.FirstOrDefault().Date)
                </th>
                <th>
    @Html.DisplayNameFor(model => model.FirstOrDefault().Money)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@(count++)</td>
                    <td>@CategoryMapping(item.Category)</td>
                    <td>@item.Date.ToString("yyyy-MM-dd")</td>
                    <td>@item.Money</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
                PagedListRenderOptions.ClassicPlusFirstAndLast)
}

@helper CategoryMapping(string categoryValue)
{
switch (categoryValue)
{
    case "0":
        @("支出");
        break;
    case "1":
        @("收入");
        break;


}
}